.root {
    -fx-font-family: "Courier New";
}

.table-view .column-header-background{
    -fx-background-color: rgb(247,157,79);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.button {
    -fx-font-weight: BOLD;
}
