

.table-view .column-header-background{
    -fx-background-color: rgb(247,157,79);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-family: "Courier New";
}

.choice-box {
    -fx-font-family: "Courier New";
}

